/*--------------------------------------------------- VARIABLES ----------------------------------------------*/
:root {
    /*Colors*/
    --primary-color: rgb(189, 0, 0);
    --secondary-color: red;
    
    /*Gloves*/
    --glove-width: 55px;
    --glove-height: 40px;
    --glove-width-before: 20px;
    --glove-height-before: 30px;
    --glove-width-after: 20px;
    --glove-height-after: 30px;
    
    /*Font sizes*/
    --h1-font-size: 4em;
    --text-font-size: 1.8em;
    --img-caption-size: 1.5em;
}
/*-------------------------------------------------- MEDIA QUERIES -------------------------------------------------*/
@media (max-width: 649px) {
    :root {
        --h1-font-size: 2.5em;
        --text-font-size: 1.5em;
        --img-caption-size: 1em;

        --glove-width: 35px;
        --glove-height: 25.45px;
        --glove-width-before: 12.5px;
        --glove-height-before: 18.75px;
        --glove-width-after: 12.5px;
        --glove-height-after: 18.75px;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
    }

    figure {
        width: 100%;
        margin: 0;
    }


    /*Gloves for small screens*/
    #boxing-glove-left::after {
        content: "";
        position: absolute;
        width: var(--glove-width-after);
        height: var(--glove-height-after);
        background-color: var(--primary-color);
        left: 32px;
        top: 3px;
    }
    
    #boxing-glove-left::before {
        content: "";
        position: absolute;
        width: var(--glove-width-before);
        height: var(--glove-height-before);
        background-color: var(--secondary-color);
        bottom: 15px;
        border-radius: 45%;
    }
    
    #boxing-glove-right::after {
        content: "";
        position: absolute;
        width: var(--glove-width-after);
        height: var(--glove-height-after);
        background-color: var(--primary-color);
        right: 32px;
        top: 3px;
    }
    
    #boxing-glove-right::before {
        content: "";
        position: absolute;
        width: var(--glove-width-before);
        height: var(--glove-height-before);
        background-color: var(--secondary-color);
        bottom: 15px;
        border-radius: 45%;
        right: 18px;
    }
}

@media (min-width: 650px) {
    /*Animation enabled for screens larger than 650px*/
    #boxing-glove-right {
        animation-name: knocking-right;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }
    
    #boxing-glove-left {
        animation-name: knocking-left;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }

    /*Gloves for larger screens*/
    #boxing-glove-left::after {
        content: "";
        position: absolute;
        width: var(--glove-width-after);
        height: var(--glove-height-after);
        background-color: var(--primary-color);
        left: 50px;
        top: 5px;
    }
    
    #boxing-glove-left::before {
        content: "";
        position: absolute;
        width: var(--glove-width-before);
        height: var(--glove-height-before);
        background-color: var(--secondary-color);
        bottom: 20px;
        border-radius: 45%;
    }
    
    #boxing-glove-right::after {
        content: "";
        position: absolute;
        width: var(--glove-width-after);
        height: var(--glove-height-after);
        background-color: var(--primary-color);
        right: 50px;
        top: 5px;
    }
    
    #boxing-glove-right::before {
        content: "";
        position: absolute;
        width: var(--glove-width-before);
        height: var(--glove-height-before);
        background-color: var(--secondary-color);
        bottom: 20px;
        border-radius: 45%;
        right: 27px;
    }
}

/*---------------------------------------------------- GENERAL ---------------------------------------*/
body {
    text-align: center;
    font-size: 10px;
    background-color: white;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    padding: 20px;
    background-color: rgb(235, 235, 235);
    border-radius: 3%;
}

img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: auto;
}

h1 {
    color: var(--primary-color);
    font-size: var(--h1-font-size);
}

p {
    font-size: var(--text-font-size);
}

#img-div {
    background-color: white;
    padding: 10px;
}

#img-caption {
    font-size: var(--img-caption-size);
    margin-top: 1em;
}

.boxing-glove-container {
    display: inline-block;
}

.boxing-glove {
    position: absolute;
    width: var(--glove-width);
    height: var(--glove-height);
    background-color: var(--secondary-color);
    border-radius: 40%;
}

.bold {
    font-weight: bold;
}

#boxing-glove-left {
    position: relative;
}

#boxing-glove-right {
    position: relative;
}

#title-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tribute-info {
    color: var(--secondary-color);
}

#tribute-link {
    color: var(--secondary-color);
}


/*--------------------------------------------------- ANIMATIONS ---------------------------------------------*/
@keyframes knocking-right {
    0% {
        left: 0px;
    }
    50% {
        left: 50px;
    }
    100% {
        left: 0px;
    }
}

@keyframes knocking-left {
    0% {
        right: 0px;
    }
    50% {
        right: 50px;
    }
    100% {
        right: 0px;
    }
}